/* Global Override */
wireball-app { --conversations-width-full: 300px!important; --info-width: 300px!important; }
#inner {  margin: 0px 24px!important; }
#composer.messages-view { bottom: 0px!important; }
#compose.compose-bar {
  margin: 0px!important;
  max-width: 100%!important;
  width: 100%!important;
  box-shadow: none!important;
  border-radius: 0px!important; }
.stacked.compose-bar #actions.compose-bar { border-radius: 0px!important; }
#container.user-media-message, .conversationHeader.wireball-app { box-shadow: 0 1px 2px rgba(46, 58, 59, 0.25)!important; }
#outer.scrolling-messages-list, #inner.scrolling-messages-list { max-width: 100%!important; }
.sendIcon.compose-bar { padding: 13px; margin: 0 12px 0 2px!important; }
/* Dark Theme */
body.darkMode {  }
body.darkMode .conversationHeader { background-color: #34373c!important; }
body.darkMode #leftBar { border-right: 1px solid #444442; background-color: #34373c!important; }
body.darkMode #library { border-top: 1px solid #444442; border-bottom: 1px solid #444442!important; }
body.darkMode #scroller { background-color: #141518; }
body.darkMode #messageArea
body.darkMode #chip { background-color: transparent!important; }
body.darkMode #textarea { color: #cfd8dc!important; }
body.darkMode #startChatButtonString { color: #cfd8dc!important; }
body.darkMode #compose { border-top: 1px solid #444442!important; background-color: #34373c!important; }
body.darkMode #conversationName { color:: #cfd8dc!important; }
body.darkMode #editor { color: #34373c!important; }
body.darkMode .conversation_item.layout.horizontal.style-scope.conversations-view { background-color: #34373c!important; }
body.darkMode #snippet { color: grey!important; }
body.darkMode h3.conversations-view { color: #cfd8dc!important; }
body.darkMode #conversationName.wireball-app { color: #cfd8dc!important; }
body.darkMode .stacked.compose-bar #actions.compose-bar { background-color: #34373c!important; }
body.darkMode paper-icon-button { color: #cfd8dc!important; }